<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>遊戯王カードモンスター判定アプリ</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <img class="header_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/IMG_4065.PNG" alt="Hopes">
        <a class="header-logo" href="#">遊戯王カードモンスター判定アプリ</a>
    </header>
    <div class="top-img">
        <ul>
            <li>
                <img class="card_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/000095.jpg" width="300" height="200" alt="ブラックマジシャン">
            </li>
            <li>
                <img class="card_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/000030.jpg" width="300" height="200" alt="ブルーアイズ">
            </li>
            <li>
                <img class="card_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/000249.jpg" width="300" height="200" alt="レッドアイズ">
            </li>
            <li>
                <img class="card_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/000174.jpg" width="300" height="200" alt="暗黒騎士ガイア">
            </li>
            <li>
                <img class="card_img" src="/Users/izawayasushinozomi/Desktop/orizinal_app/pictures/000050.jpg" width="300" height="200" alt="究極完全態・グレート・モス">
            </li>
        </ul>
    </div>

    <div class="main">    
        <h2> AIが送信された画像(カード）のモンスター名を表示します</h2>
        <p>上記の５つのモンスターカードのどれかの画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <img class="footer_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <small>&copy; 2022 yoshiki_izawa.</small>   
    </footer>
</body>
</html>